<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MReporte</servlet-name>
        <servlet-class>Modelo.MReporte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccionesAlumno</servlet-name>
        <servlet-class>Servlet.AccionesAlumno</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarCuenta</servlet-name>
        <servlet-class>Servlet.EditarCuenta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarAdmin</servlet-name>
        <servlet-class>Servlet.EditarAdmin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegistraEquipo</servlet-name>
        <servlet-class>Servlet.RegistraEquipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarEquipo</servlet-name>
        <servlet-class>Servlet.ConsultarEquipo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarReportes</servlet-name>
        <servlet-class>Servlet.ConsultarReportes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConsultarDatos</servlet-name>
        <servlet-class>Servlet.ConsultarDatos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Reportar</servlet-name>
        <servlet-class>Servlet.Reportar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BorrarReporte</servlet-name>
        <servlet-class>Servlet.BorrarReporte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarReporte</servlet-name>
        <servlet-class>Servlet.EditarReporte</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditarEstado</servlet-name>
        <servlet-class>Servlet.EditarEstado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Sesion</servlet-name>
        <servlet-class>Servlet.Sesion</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MReporte</servlet-name>
        <url-pattern>/MReporte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccionesAlumno</servlet-name>
        <url-pattern>/AccionesAlumno</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarCuenta</servlet-name>
        <url-pattern>/EditarCuenta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarAdmin</servlet-name>
        <url-pattern>/EditarAdmin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegistraEquipo</servlet-name>
        <url-pattern>/RegistraEquipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarEquipo</servlet-name>
        <url-pattern>/ConsultarEquipo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarReportes</servlet-name>
        <url-pattern>/ConsultarReportes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConsultarDatos</servlet-name>
        <url-pattern>/ConsultarDatos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Reportar</servlet-name>
        <url-pattern>/Reportar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BorrarReporte</servlet-name>
        <url-pattern>/BorrarReporte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarReporte</servlet-name>
        <url-pattern>/EditarReporte</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditarEstado</servlet-name>
        <url-pattern>/EditarEstado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Sesion</servlet-name>
        <url-pattern>/Sesion</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
